
:root {
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
  --primary-color: #6a3093;
  --color-white: #f0f0f0;
  --color-text: #B24592;

  /* Fonts */

  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border-radius */

  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* U slucaju */

  --site-max-width: 1300px;


}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
  overflow-x: hidden;
}

nav {
  height: 60px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;  
  align-items: center;
}

nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  background-color: var(--acent-color);
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button, .close-sidebar-button {
  display: none;
}

.hero-section {
  min-height: 100vh;
  background-color: var(--primary-color); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--text-color);
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--site-max-width); 
  padding: 0 10px;
}

.hero-section .content-details {
  max-width: 500px;
  text-align: center; 
}

.hero-section .content-details .title {
  font-size: var(--font-size-xxl);
  color: pink;
  font-family: "Papyrus", sans-serif;
}

.hero-section .content-details .subtitle {
  margin-top: 8px;
  max-width: 100%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.hero-section .content-details .description {
  max-width: 100%;
  font-size: var(--font-size-m);
  margin: 24px 0 35px;
}

.hero-section .content-details .buttons {
  display: flex;
  gap: 23px;
  justify-content: center; 
  flex-wrap: wrap;
}

.hero-section .content-details .button-order-now,
.hero-section .content-details .button-contact-us {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--primary-color);
  border-radius: var(--border-radius-m);
  background: var(--color-white);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
  text-align: center;
}

.hero-section .content-details .button-order-now:hover,
.hero-section .content-details .button-contact-us:hover {
  color: var(--color-white);
  border-color: var(--color-white);
  background: transparent;
}


.hero-section .image-wrapper {
  max-width: 500px;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
}

/* About us */

.about-section {
  padding: 100px 0;
  background: var(--color-white);
}

.section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  white-space: nowrap;
  max-width: 100%;
  margin: 0 auto;
  max-width: var(--font-size-xl);
  margin-left: 20%;
  color: #B24592;
}

.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--border-radius-s);
  background: var(--primary-color);
}

.about-section .section-content {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
  margin-left: 10%;
}

.about-section .about-details{
  max-width: 50%;
}

.about-section .about-details .section-title {
  padding: 0;
}

.about-section .about-details .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
  margin-right: 15%;
}

.about-section .social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.about-section .social-link-list .social-link {
  color: var(--primary-color);
  font-size: var(--font-size-l);
  transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
  color: var(--accent-color);
}


/* Picture-Perfume */

.text-picture h1 {
  text-align: center;
  font-size: var(--font-size-m); 
  color: #333;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.pictures-show {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  color: #434343;
}

.pictures-show div {
  text-align: center;
  flex: 1 1 150px;
  max-width: 200px;
}

.pictures-show img {
  width: 100%;
  max-width: 150px; 
  height: auto;
  border-radius: 50%; 
  object-fit: cover; 
  margin-bottom: 10px;
}

.pictures-show h4 {
  font-size: 1rem;
  color: #333; 
}

/* FAQ */

.faq-section {
  max-width: 75%;
  margin: auto;
  color: #434343;
}

.faq-section p,
.faq-section h3 {
  margin: 1.5rem 0;
  text-align: center;
}

.faq-section h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: var(--color-white);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: var(--font-size-s);
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: var(--font-size-m);
}


.faq-toggle {
  display: none;
}

.accordion, .pannel {
  width: 100%;
  padding: 2rem 2.5rem;
  box-sizing: border-box; 
  background-color: var(--color-white);
}

.pannel {
  display: none;
  padding: 2rem 2.5rem;
  background-color: var(--color-white);
  overflow: hidden;
}


.faq-toggle:checked + .accordion + .pannel {
  display: block;
}

.pannel p {
  color: var(--primary-color);
  font-size: var(--font-size-m);
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

/* Footer */
.container {
  flex: 1;
}

footer {
  background-color: #2d2d2d;
  color: var(--color-white);
  padding: 2.5% 0;
  font-size: 90%;
  width: 100%;
  margin-top: auto;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5%;
}

footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}

.footer-widget {
  flex: 1;
  min-width: 250px;
}

.footer-widget .logo {
  max-width: 15%;
  margin-bottom: 1.5%;
}

.footer-widget h6 {
  font-weight: 600;
  font-size: 110%;
  margin-bottom: 1.5%;
}

.footer-widget .desc {
  margin-bottom: 1.5%;
  font-size: 95%;
  color: #b3b3b3;
}

.footer-widget .links {
  list-style: none;
  padding: 0;
}

.footer-widget .links li {
  margin-bottom: 1%;
}

.footer-widget .links li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-widget .links li a:hover {
  color: #f3a4b5;
}

.footer-widget .socials {
  display: flex;
  gap: 1%;
  margin-top: 1.5%;
}

.footer-widget .socials li {
  list-style: none;
}

/* Customers FeedBack */

.testimonials {
  padding: 40px 0;
  background-color: #f1f1f1;
  color: #434343;
  text-align: center;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: var(--color-text);
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background: var(--color-white);
  padding: 30px;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: var(--font-size-l);
  text-transform: uppercase;
  margin: 20px 0;
}

.stars {
  color: #6a3093;
  margin-bottom: 20px;
}

@media(max-width: 450px) {
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button, .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .about-section {
    padding: 50px 0;
  }

  .about-section .about-image-wrapper .about-image {
    width: 250px;
    height: 250px;
  }

  .about-section .about-details .text {
    font-size: var(--font-size-s);
    margin: 30px 0 20px;
  }

  .pictures-show {
    gap: 10px; 
  }

  .pictures-show h4 {
    font-size: 0.9rem;
  }

  .social-link-list {
    gap: 15px;
  }

  footer {
    padding: 4% 0;
  }

  .footer-widget h6 {
    font-size: 100%;
  }

  .footer-widget .desc,
  .footer-widget .links li a {
    font-size: 85%;
  }

  .col {
    flex: 100%;
    max-width: 80%;
  }
}

/* Mobiteli */
@media (max-width: 768px) {
  .hero-section .section-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .hero-section .content-details,
  .hero-section .title,
  .hero-section .subtitle,
  .hero-section .description {
    text-align: center;
    max-width: 100%;
  }

  .hero-section .content-details .buttons {
    flex-direction: column;
    gap: 15px;
  }

  .hero-section .image-wrapper {
    margin: 0 auto 20px;
    width: 100%;
  }

  .about-section .section-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-section .about-image-wrapper .about-image {
    width: 300px;
    height: 300px;
  }

  .about-section .about-details {
    max-width: 90%;
  }

  .section-title {
    padding: 40px 0 80px;
  }

  footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-widget {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-widget .socials {
    justify-content: center;
  }

  .footer-widget .logo {
    max-width: 30%; 
  }

  .col {
    flex: 100%;
    max-width: 80%;
  }
}