/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html { line-height: 1.5; font-family: sans-serif; font-weight: normal; color: rgba(0,0,0,0.87); }
body { margin:0; }


nav {
  background-color: #6a1b9a;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a.active {
  font-weight: bold;
  text-decoration: underline;
}

main#spapp > section { padding:60px 10px 10px 10px; background:#fff; }  
main#spapp > section#view_2 { background:#90caf9; }  
main#spapp > section#view_3 { background:#a5d6a7; } 
main#spapp > section#error_404 { background:#b71c1c; color:#fff; }
main#spapp h1 { font-size: 4.2rem; line-height: 110%; margin: 2.1rem 0 1.68rem 0; text-align:center; }


footer {
  background-color: #6a1b9a;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

#footer-name {
  color: white;
  text-align: center;
  padding: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


h1 {
  font-size: 36px; 
  margin-bottom: 20px;
  color: #9426d8;
}

h2 {
  font-size: 24px; 
  margin-bottom: 10px;
  color: #6a1b9a;
}


p {
  font-size: 16px; 
  margin-bottom: 20px;
  color: #b365e4;
  text-align: justify;
}


article {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}


article:hover {
  background-color: #f0f8ff;
  border-radius: 8px;
}

.shop-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.product {
  text-align: center;
  background: #f0f8ff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  max-width: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product p {
  font-size: 16px;
  font-weight: bold;
}

.about-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px;
}

.about-item {
  text-align: center;
  background: #f0f8ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-item img {
  width: 100%;
  max-width: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.about-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-item p {
  font-size: 16px;
}
